<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nevena.idontknow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".newActivity.RankActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity android:name=".newActivity.FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".newActivity.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".newActivity.PlacesListActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".ImagePickerActivity"
            android:label="@string/title_activity_image_picker"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- cache directory file provider paths -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.nevena.idontknow.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>